h1{
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04612f;
  }

  li {
    float: left;
    color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    text-decoration-color: white;
  }
  .search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    padding: 5px 10px;
    border: none;

}
 
.search{
    float:right;
    margin:7px;

}
 
.search button{
    background-color: #f4f5f7;
    color: #0db157;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor:pointer;
}
  .table_temporada{
    background-color: #0db157 ;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 25px solid;
    border-color: #0db157 ;
  }
  table{
    color: white;
    border-color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: large;
    display: inline-block;
    margin: 10px;
  }
  body{
    background-color: #f5c5e5;
  }